* {
	box-sizing: border-box;
}
html {
	background: url("imgs/sand4.jpg") repeat center;
}
body {
	background-color: rgba(255,255,255,.3);
}
sup {
	vertical-align: super;
	font-size: .85rem;
}
/* === NAVBAR === */
header {
	transition: all .8s ease;
	background: url("imgs/sicily-bg.jpg") no-repeat center/cover;
	height: 20rem;
	position: sticky;
	top: 0;
	z-index: 10;
}
nav {
	transition: all .8s ease;
	background-color: rgba(0,0,0,.2);
	height: 20rem;
}
li a {
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
li a:hover {
	font-size: 2.1rem;
	transition: all .8s ease;
}
#logo {
	transition: all .8s ease;
}
#logo h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 6rem;
	color: #fff;
}
header ul {
	display: flex;
	height: 100%;
	align-items: center;
}
header li {
	text-align: center;
	flex-grow: 1;
}
.active {
	border-bottom: 2px solid #fff;
}

/* === FOOTER === */
footer {
	background-color: rgba(0,0,0,.5);
	height: 5rem;
	display: table;
	width: 100%;
}
footer small {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


/* === MAIN PAGE === */
.container-index {
	margin: 5rem;
	font-size: 1.5rem;
	text-align: justify;
}
.index {
	width: 100%;
}
p {
	margin: 2rem;
}


/* === ROOMS PAGE === */

.container-rooms {
	margin: 5rem;
	font-size: 1.5rem;
}
.container-rooms p {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 2rem;
}
.blurb {
	width: 100%;
	display: flex;
}
img.rooms {
	width: 100%;
	cursor: pointer;
	transition: 0.3s;
}
.rooms:hover {
	transform: scale(1.01);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details ul {
	list-style-type: circle;
	margin: 2rem;
	line-height: 1.85rem;
}
.basic-information ul {
	list-style-type: circle;
	line-height: 1.85rem;
	display: inline-block;
	margin: 2rem;
	vertical-align: top;
}
.basic-information h2 {
	font-size: 2rem;
}
#slideshow {
	display: none;
	background-color: rgba(0,0,0,.5);
	height: 100vh;
	width: 100vw;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 11;
	text-align: center;
}
#classic span, #classic-plus span, #junior span {
	position: fixed;
	right: 1rem;
	top: .45rem;
	font-size: 3rem;
	z-index: 14;
	cursor: pointer;
}
#classic, #classic-plus, #junior{
	display: none;
	height: 90vh;
	width: 90vw;
	position: fixed;
	overflow: hidden;
	background-color: rgba(255,255,255,.5);
	z-index: 12;
	top: 5vh;
	left: 50%;
	transform: translate(-50%, 0);
}
#classic .big {
	top: 0;
	width: 100%;
	height: 80%;
	position: fixed;
	background: url("imgs/001.jpg") no-repeat center;
	background-size: 80%;
	z-index: 13;
}
#classic .small {
	bottom: 0;
	width: 300px;
}




/* === ABOUT PAGE === */
.container-about {
	padding: 5rem;
	display: flex;
}
#map {
	width: 100%;
	height: 500px;
	background-color: #fff;
}
#map p {
	font-family: 'Great Vibes', cursive;
	font-size: 5rem;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
#information {
	width: 100%;
}
#information a {
	color: rgba(0,0,0,.8);
	text-decoration: none;
}
#information a:hover {
	color: rgba(0,0,0,.6);
	text-decoration: underline;
}
#address p, #phone p, #email p {
	font-family: 'Great Vibes', cursive;
	font-size: 2rem;
}
#address span, #phone span, #email span {
	font-family: 'Playfair Display', serif;
	font-size: 1.25rem;
}

#address span::after, #phone span::after {
	content: "";
	width: 15rem;
	height: 2px;
	display: block;
	background-color: rgba(0,0,0,.6);
	margin: 1rem 0;
}